<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/admin">admin</a>
    </li>
  </ol>
</nav>

<h1>
  Configs
</h1>

<div class="btn-group">
  <a href="/admin/configs/add" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i> Add Config
  </a>
</div>
<div class="top-buffer"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Module</th>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let config of configs">
      <td>{{ config.module }}</td>
      <td>{{ config.name }}</td>
      <td>{{ config.value }}</td>
      <td>
        <a
          href="/admin/configs/edit/{{ config.id }}"
          class="btn btn-primary btn-sm"
        >
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <a
          href="/admin/configs/delete/{{ config.id }}"
          class="btn btn-danger btn-sm"
        >
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
