<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/admin">admin</a>
    </li>
  </ol>
</nav>

<h1>User</h1>

<form [formGroup]="userForm" novalidate (ngSubmit)="save()">
  <input
    class="form-control"
    id="id"
    name="id"
    type="hidden"
    formControlName="id"
  />
  <div class="form-group">
    <label class="col-md-2 control-label" for="FirstName">First Name</label>
    <div class="col-md-10">
      <input
        class="form-control"
        id="firstName"
        name="firstName"
        type="text"
        formControlName="firstName"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="LastName">Last Name</label>
    <div class="col-md-10">
      <input
        class="form-control"
        id="lastName"
        name="lastName"
        type="text"
        formControlName="lastName"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="Alias">Alias</label>
    <div class="col-md-10">
      <input
        class="form-control"
        id="alias"
        name="alias"
        type="text"
        formControlName="alias"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-2 control-label" for="Email">Email</label>
    <div class="col-md-10">
      <input
        class="form-control"
        id="email"
        name="email"
        type="text"
        formControlName="email"
        required
      />
    </div>
  </div>
  <div class="form-group row">
    <button type="submit" class="btn btn-primary" value="save">Save</button>
  </div>
</form>

<span *ngIf="isEdit">
  <form [formGroup]="userRoleForm" novalidate (ngSubmit)="saveUserRole()">
    <input
      class="form-control"
      id="id"
      name="id"
      type="hidden"
      formControlName="id"
    />
    <div class="form-group">
      <label class="col-md-2 control-label" for="Role">Role</label>
      <div class="col-md-10">
        <select
          class="form-control"
          id="roleId"
          name="roleId"
          formControlName="roleId"
        >
          <option value="">User</option>
          <option
            *ngFor="let role of roles"
            value="{{ role.id }}"
            [selected]="role.id === roleId"
            >{{ role.name }}</option
          >
        </select>
      </div>
    </div>
    <div class="form-group row">
      <button type="submit" class="btn btn-primary" value="save">
        Add to Role
      </button>
    </div>
  </form>
</span>
