<h1>
  Configs
</h1>

<div class="btn-group">
  <a href="/admin/configs/add" class="btn btn-primary">
      <i class="glyphicon glyphicon-plus"></i> Add Config
  </a>
</div>
<div class="top-buffer"></div>
<table class="table table-bordered table-striped table-condensed">
  <thead>
      <tr>
        <th>Module</th>
        <th>Name</th>
        <th>Value</th>                    
        <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let config of configs">
        <td>{{config.module}}</td>  
        <td>{{config.name}}</td>
          <td>{{config.value}}</td>                                              
          <td>
              <a href="/admin/configs/edit/{{config.id}}"
                  class="btn btn-primary">
                  <i class="fa-pencil-alt"></i> Edit
              </a>
              <a href="/admin/configs/delete/{{config.id}}" class="btn btn-danger">
                  <i class="glyphicon glyphicon-trash"></i> Delete
              </a>
          </td>
      </tr>
  </tbody>
</table>
