<h1>Role</h1>
<form [formGroup]="roleForm" novalidate (ngSubmit)="save()">
    <div class="form-group">
        <label class="col-md-2 control-label" for="RoleName">Role Name</label>
        <div class="col-md-10">
            <input 
                class="form-control" 
                id="roleName" 
                name="roleName"
                type="text"
                formControlName="roleName"
                required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="Description">Description</label>
        <div class="col-md-10">
            <input 
                class="form-control" 
                id="description" 
                name="description"
                type="text"
                formControlName="description"
                required />
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" value="save">Save</button>
    </div>
</form>
