<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="/admin">admin</a>
    </li>
  </ol>
</nav>

<h1>User Admin</h1>

<div class="btn-group">
  <a href="/admin/users/add" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i> Add User
  </a>
</div>
<div class="top-buffer"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a
          href="/admin/users/edit/{{ user.id }}"
          class="btn btn-primary btn-sm"
        >
          <i class="fas fa-pencil-alt"></i> Edit
        </a>
        <a
          href="/admin/users/delete/{{ user.id }}"
          class="btn btn-danger btn-sm"
        >
          <i class="fas fa-trash-alt"></i> Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
