<div class="row align-items-center justify-content-center">
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="text-center border border-light p-5 mt-4">
      <p class="h4 mt-4">Change Password</p>

      <span *ngIf="!isSuccessful">
        <form
          [formGroup]="changePasswordForm"
          novalidate
          (ngSubmit)="changePassword()"
        >
          <div class="text-danger"></div>
          <div class="form-group">
            <div class="col">
              <input
                class="form-control mt-4"
                id="oldPassword"
                name="oldPassword"
                type="password"
                formControlName="oldPassword"
                placeholder="Old Password"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col">
              <input
                class="form-control mt-4"
                id="newPassword"
                name="newPassword"
                type="password"
                formControlName="newPassword"
                placeholder="New Password"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col">
              <input
                class="form-control mt-4"
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
                required
              />
              <span
                asp-validation-for="ConfirmPassword"
                class="text-danger"
              ></span>
            </div>
          </div>

          <div class="form-row mt-4">
            <div class="col">
              <a href="/manage" class="btn btn-danger">
                Cancel
              </a>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!changePasswordForm.valid"
              >
                Change password
              </button>
            </div>
          </div>
        </form>
      </span>

      <span *ngIf="isSuccessful">
        <p>
          Your password is updated.
        </p>
      </span>
    </div>
  </div>
</div>
