<footer class="footer bg-dark navbar-dark">
  <div class="container text-white">
    &copy; Banico |
    <a
      routerLinkActive="active"
      routerLink="/page/terms-and-conditions"
      class="text-light bg-dark"
      >Terms and Conditions</a
    >
    |
    <a
      routerLinkActive="active"
      routerLink="/page/privacy"
      class="text-light bg-dark"
      >Privacy Policy</a
    >
    |
    <a
      href="http://www.facebook.com/"
      class="text-light bg-dark mr-1"
      target="_blank"
      ><i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i
    ></a>
    <a
      href="http://www.twitter.com/"
      class="text-light bg-dark mr-1"
      target="_blank"
      ><i class="fab fa-lg fa-twitter" aria-hidden="true"></i
    ></a>
    <a
      href="http://www.instagram.com/"
      class="text-light bg-dark mr-1"
      target="_blank"
      ><i class="fab fa-lg fa-instagram" aria-hidden="true"></i
    ></a>
  </div>
</footer>
