<div class="row">
  <div class="col">
    <div class="border border-light p-5 mt-4">
      <p class="h4 mb-4">Administration</p>

      <div *ngIf="!isInitialized">
        <button type="button" class="btn btn-primary" (click)="initialize()">
          Initialize
        </button>
      </div>

      <div *ngIf="isInitialized">
        <p *ngIf="isSuperAdmin">
          <a routerLinkActive="active" routerLink="/admin/set-tenant"
            ><i class="fas fa-home"></i> Set Tenant</a
          >
        </p>
        <p *ngIf="configsAllowed">
          <a routerLinkActive="active" routerLink="/admin/configs"
            ><i class="fas fa-cogs"></i> Configs</a
          >
        </p>
        <p *ngIf="sectionsAllowed">
          <a routerLinkActive="active" routerLink="/admin/sections"
            ><i class="fas fa-sitemap"></i> Sections</a
          >
        </p>
        <p *ngIf="rolesAllowed">
          <a routerLinkActive="active" routerLink="/admin/roles"
            ><i class="fas fa-user-tag"></i> Roles</a
          >
        </p>
        <p *ngIf="usersAllowed">
          <a routerLinkActive="active" routerLink="/admin/users"
            ><i class="fas fa-users"></i> Users</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
