<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">{{ appTitle }}</a> {{ tenant }}

    <ul class="navbar-nav">
      <li class="nav-item">
        <span *ngIf="!loggedInAs">
          <a
            class="nav-link"
            href="/account/login/?returnUrl={{ location.path() }}"
          >
            <i class="fas fa-sign-in-alt"></i>
          </a>
        </span>
        <span *ngIf="loggedInAs">
          <a class="nav-link" href="/manage">
            <img
              class="rounded-circle"
              width="30"
              src="https://www.gravatar.com/avatar/{{
                avatarHash
              }}?size=30&d=mp"
              alt="{{ loggedInAs }}"
            />
          </a>
        </span>
      </li>
    </ul>

    <!--
            <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a [routerLink]='["/"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/counter"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-education'></span> Counter
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-th-list'></span> Fetch data
                </a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    -->
  </div>
</nav>
