<div class="text-center">
  <div
    class="col-md-12"
    *ngIf="tag === 'youtube' && extensionTag === 'responsive'"
  >
    <div class="vid">
      <iframe
        width="560"
        height="315"
        [src]="
          sanitizer.bypassSecurityTrustResourceUrl(
            'https://www.youtube.com/embed/' + id
          )
        "
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div *ngIf="tag === 'youtube' && extensionTag === ''">
    <iframe
      width="560"
      height="315"
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          'https://www.youtube.com/embed/' + id
        )
      "
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <div *ngIf="tag === 'imgur'">
    <blockquote
      *ngIf="tag === 'imgur'"
      class="imgur-embed-pub"
      lang="en"
      [attr.data-id]="'a/' + id"
      [attr.data-context]="false"
    >
      <br />
      <a href="https://i.imgur.com/a/{{ id }}">View on Imgur</a>
    </blockquote>
  </div>
  <div *ngIf="tag === 'instagram'">
    <iframe
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          'https://www.instagram.com/p/' + id + '/embed'
        )
      "
      width="400"
      height="480"
      frameborder="0"
      scrolling="no"
      allowtransparency="true"
    ></iframe>
  </div>
</div>
