<br />
<br />
<br />
<footer class="footer bg-light navbar-light">
    <div class="container">
        &copy; Banico | 
        <a href="/page/terms-and-conditions" class="text-muted">Terms and Conditions</a> | 
        <a href="/page/privacy" class="text-muted">Privacy Policy</a> | 
        <a href="http://www.facebook.com/" target="_blank" class="text-muted"><i class="fab fa-lg fa-facebook-f" aria-hidden="true"></i></a> 
        <a href="http://www.twitter.com/" target="_blank" class="text-muted"><i class="fab fa-lg fa-twitter" aria-hidden="true"></i></a>
        <a href="http://www.instagram.com/" target="_blank" class="text-muted"><i class="fab fa-lg fa-instagram" aria-hidden="true"></i>
    </div>
</footer>
      
<!--
    INSERT FOOTER SCRIPTS HERE
-->
