<h1>Confirm Email</h1>

<span *ngIf="!isSuccessful">
    Confirming Email...

    <div class="alert alert-danger" role="alert" *ngIf="errors">
        <ul>
            <li *ngFor="let error of errors">
                {{ error }}
            </li>
        </ul>
    </div>
</span>

<span *ngIf="isSuccessful">
    <div class="text-center border border-light p-5 mt-4">
        <p class="h4 mt-4">Your email has been validated.</p>
        <p>
            You can now <a href="/account/login">log in</a>.
        </p>
    </div>
</span>